.container{
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

.title{
    font-size: 36px;
    margin-bottom: 10px;
    color: tomato;
}

/* Timer */
.timer{
    font-size: 72px;
    color: darkolivegreen;
}

.timerType{
    font-size: 20px;
    color: darkolivegreen;
}

/* Buttons */
button{
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    background-color: darkgrey;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity .3s ease-in-out;
}

button:hover{
    opacity: 0.7;
}

/* Timer Control Buttons */ 
#start{
    background-color: darkolivegreen;
}

#pause{
    background-color: darkred;
}

#reset{
    background-color: darkgray;
}

/* Snackbar */
#snackbar{
    visibility: hidden;
    background-color: black;
    color: white;
    position: fixed;
    text-align: center;
    font-size: 24px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

#snackbar.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein{
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity:1;}
}

@keyframes fadein{
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity:1;}
}

@-webkit-keyframes fadeout{
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity:0;}
}
@keyframes fadeout{
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity:0;}
}

/* Sidebar */
.sidebar{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar button, .dropdownButton{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color:#818181 ;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidebar button:hover, .dropdownButton:hover{
    color: #f1f1f1;
    opacity: 1.0;
}
.main{
    margin-left: 20px;
    font-size: 20px;
    padding: 0px 10px;
}

.active{
    background-color: green;
    color: white;
}

.dropdownContainer{
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.fa-caret-down{
    float: right;
    padding-right: 8px;
}